html, body {
    width: 150px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 2% auto;
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
    cursor: pointer;
  }

  .beast:hover {
    background-color: #7d94c7;
  }
  
  .beast {
    background-color: #A877B7;
  }
  
  .reset {
    background-color: #315DC1;
  }
  
  .reset:hover {
    background-color: #7d94c7;
  }